@media (prefers-color-scheme: dark) {
	body {
		background-color: #1A1A1A;	/* Why is it so hard to obtain a good dark grey? */
		color: white;
	}

	body a {
		color: beige;
	}

	body hr {
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: darkred;
	}

	body a {
		color: crimson;
	}

	body hr {
		color: darkred;
	}
}

body {
	width: calc(100%/1.08);
	max-width: 1000px;
	margin: 0.5rem auto;
}

img {
	display: inline-block;
	border: 1px solid #777;	/* Should be close to middle-grey, reasonable choice for image border. */
}

picture {
	display: inline-block;
	width: 96%;
	margin-left: 2%;
	margin-bottom: 0;
	container-type: inline-size;
}

picture img {
	display: block;
	max-width: 100cqw;
	max-height: 100cqw;
	margin-inline: auto;
	margin-left: -1px;
}

hr {
	width: 100vw;
	margin-left: calc((100% - 100vw) / 2);
	box-sizing: border-box;
}

hr.sep {
	width: 104%;
	margin-left: -2%;
}
