@media (prefers-color-scheme: dark) {
	body {
		background-color: #1A1A1A; /* Why is it so hard to obtain a good dark grey? */
		color: white;
	}

	body a {
		color: beige;
	}

	body hr {
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: darkred;
	}

	body a {
		color: crimson;
	}

	body hr {
		color: darkred;
	}
}

body img {
	border: 1px solid #777;	/* Should be close to middle-grey, reasonable choice for image border. */
}

hr.sep {
	text-align: left;
	margin-left: 0px;
	margin-right: 50%;
}
